<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:macro name="axle" params="position rotate">
        <visual>
            <origin xyz="${position}" rpy="${rotate}"/>
            <geometry>
                <cylinder length="${axle_length}" radius="${axle_radius}" />
            </geometry>
            <material name="WhiteOne"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder length="${axle_length}" radius="${axle_radius}" />
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="${axle_mass}" length="${axle_length}" radius="${axle_radius}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </xacro:macro>

    <xacro:macro name="wheel_link" params="name position rotate">
        <link name="${name}">
            <visual>
                <origin xyz="${position}" rpy="${rotate}"/>
                <geometry>
                    <cylinder length="${wheel_length}" radius="${wheel_radius}" />
                </geometry>
                <material name="IndigoOne"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="${wheel_length}" radius="${wheel_radius}" />
                </geometry>
            </collision>
            <xacro:inertial_cylinder mass="${wheel_mass}" length="${wheel_length}" radius="${wheel_radius}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>
        <xacro:gazeboDarkBlueColorBlock link="${name}"/>
    </xacro:macro>

    <!-- FRONT AXLE -->
    <link name="front_axle">
        <xacro:axle 
            position="0 0 0"
            rotate="0 0 0"
        />
    </link>

    <!-- BACK AXLE -->
    <link name="back_axle">
        <xacro:axle 
            position="0 0 0"
            rotate="0 0 0"
        />
    </link>

    <!-- LEFT FRONT WHEEL -->
    <xacro:wheel_link 
        name="front_left_wheel"
        position="0 0 0"
        rotate="${pi} 0 0"
    />

    <!-- RIGHT FRONT WHEEL -->
    <xacro:wheel_link 
        name="front_right_wheel"
        position="0 0 0"
        rotate="-${pi} 0 0"
    />

    <!-- LEFT BACK WHEEL -->
    <xacro:wheel_link 
        name="back_left_wheel"
        position="0 0 0" 
        rotate="${pi} 0 0"
    />

    <!-- RIGHT BACK WHEEL -->
    <xacro:wheel_link
        name="back_right_wheel"
        position="0 0 0" 
        rotate="-${pi} 0 0"
    />
</robot>